<div class="studentAlotments index">

	<h2><?php echo __('Exception Admissions'); ?></h2>
	
	<table cellpadding="0" cellspacing="0">
	<tr>
	<th>University</th>
	<th>College</th>
	<th>Course</th>
        <th>Strength</th>
        <th>Actual Admission</th>
	</tr>
		<?php
	foreach ($exceptionsadmissions as $exceptionallotment): 
	 ?>
	<tr>
	<td><?php echo h($exceptionallotment['CollegeGroupSubject']['College']['University']['name']); ?>&nbsp;</td>	
		<td><?php echo h($exceptionallotment['CollegeGroupSubject']['College']['name']); ?>&nbsp;</td>		
		<td><?php echo h($exceptionallotment['CollegeGroupSubject']['GroupSubjects']['name']); ?>&nbsp;</td>		
		<td ><?php echo h($exceptionallotment['CollegeGroupSubject']['no_of_seat']); ?>&nbsp;</td>
		<td ><?php echo h($exceptionallotment[0]['opt']); ?>&nbsp;</td>		
		
	</tr>
         <?php endforeach; ?>
	</table>
	</table>
	
</div>
