<?php
echo $this->html->css('lightbox.css');
echo $this->html->script('lightbox.js');
?>

<ul class="breadcrum"><li><?php echo $this->Html->addCrumb('Maps','#'); ?>      
		&nbsp;</li></ul>
		
    <div id="container">
        <div id="leftbody"> <a href="#"><img src="img/demo/200x1404.gif" alt="" /> <br class="clear" />
        </div>
        <div id="rightbody">
            <h1>Location On Map</h1>
            <p> <div style="width: 600px"><iframe width="600" height="300" src="http://regiohelden.de/google-maps/map_en.php?width=600&amp;height=300&amp;hl=en&amp;q=university%20of%20juba%20sudan+(RegioHelden%20GmbH)&amp;ie=UTF8&amp;t=&amp;z=14&amp;iwloc=A&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"><a href="http://www.regiohelden.de/google-maps/"> </a> <a href="http://www.regiohelden.de/"> </a></iframe><br /><span style="font-size: 9px;"><a href="http://www.regiohelden.de/google-maps/" style="font-size: 9px;"></a>  <a href="http://www.regiohelden.de/" style="font-size: 9px;"></a></span></div></p>
            <br class="clear" />
        </div>
        <br class="clear" />
    </div>
</div>
