<ul class="breadcrum"><li><?php echo $this->Html->addCrumb('University','#'); ?>      
		</li></ul>
		&nbsp;
    <div id="container">
       
        <div  id="leftbody"><a href="#"><img width="200" height="140" alt="" src="<?php echo $this->webroot;?>img/demo/vision.png"></a> <br class="clear">
    </div>
    <div id="rightbody">
            
            <?php foreach ($universities as $university) {  ?>
                <div>
                    <div>

                    </div>
                    <div>
                        <table style="width:100%!important;">
                            <tr>
                                <td width="30%" valign="top" align="left" colspan="4"><strong><?php echo $university['University']['name']; ?></strong></td>
                                <td width="60%" valign="top" align="left">&nbsp;</td>
                                <td width="5%" valign="top" align="left">&nbsp;</td>
                                <td width="5%" valign="top" align="left">&nbsp;</td>
                            </tr>
                            <tr>
                                <td width="30%" valign="top" align="left" class="td-txt">
                                    <strong>City :</strong><br>
                                    <strong>State :</strong><br>
                                    <strong>Contact Person:</strong><br>
                                    <strong>Contact No:</strong><br>
                                    <strong>Email:</strong><br>
                                    <strong>Web site:</strong><br>

                                </td>
                                <td width="70%" valign="top" align="left" colspan="3" class="td-txt">
                                    <?php echo $university['City']['name']; ?><br>
                                    <?php echo $university['State']['name']; ?><br>
                                    <?php echo $university['University']['contact_person']; ?> <br>
                                    <?php echo $university['University']['contact_no']; ?><br>
                                    <?php echo strtolower($university['University']['email_id']); ?><br>
                                    <?php echo $university['University']['website']; ?>
                                </td>
                            <tr>
                                <td valign="top" align="left" colspan="4">&nbsp;</td>
                            </tr>
                            </tr>
                        </table>
                    </div>
                </div>
            <?php } ?>
        </div>
    </div>
</div>


