@charset "utf-8";
/**
 *
 * Generic CSS for CakePHP
 *
 * CakePHP(tm) : Rapid Development Framework (http://cakephp.org)
 * Copyright 2005-2012, Cake Software Foundation, Inc. (http://cakefoundation.org)
 *
 * Licensed under The MIT License
 * Redistributions of files must retain the above copyright notice.
 *
 * @copyright     Copyright 2005-2012, Cake Software Foundation, Inc. (http://cakefoundation.org)
 * @link          http://cakephp.org CakePHP(tm) Project
 * @package       app.webroot.css
 * @since         CakePHP(tm)
 * @license       MIT License (http://www.opensource.org/licenses/mit-license.php)
 */

* {
	margin:0;
	padding:0;
}
/** General Style Info **/
body {
	/*background: #E5E2C9;*/
	background:#F8F7DF;
	color: #fff;
	font-family: verdana, Arial, Helvetica, sans-serif !important;
	font-size:80%;
	margin: 0;
}
a {
	color: #003d4c;
	text-decoration: none;
	font-weight: bold;
}
a:hover {
	color: #367889;
	text-decoration:none;
}
a img {
	border:none;
}
h1, h2, h3, h4 {
	font-weight: normal;
	margin-bottom:0.5em;
}
h1 {
E5E2C9 background:#fff;
	color: #003d4c;
	font-size: 100%;
}
h2 {
	background:#E5E2C9;
	color: #e32;
	font-family: verdana, Arial, Helvetica, sans-serif;
	font-size: 100%;
	color: #333333;
	padding: 5px 0 5px 10px;
	font-weight:bold;
}
h3 {
	color: #2c6877;
	font-family: verdana, Arial, Helvetica, sans-serif;
	font-size: 165%;
}
h4 {
	color: #993;
	font-weight: normal;
}
ul, li {
	margin: 0 12px;
}
p {
	margin: 0 0 1em 0;
}
.fl_left {
	float:left;
}
.fl_right {
	float:right;
}
/** Layout **/
#container {
	text-align: left;
}
#header {
	width:100%;
	height:auto;
	float:left;
	padding: 0px 0px 0px;
}
#header h1 {
	line-height:20px;
	color: #fff;
	padding: 0px 30px;
}
#header h1 a {
	color: #fff;
	/*background: #003d4c;*/
    font-weight: normal;
	text-decoration: none;
}
#header h1 a:hover {
	color: #fff;
	/*  background: #003d4c;*/
                    text-decoration: underline;
}
#content {
	/*  background: #fff;*/
    clear: both;
	color: #333;
	padding: 0px;
	/*overflow: auto;*/
	width:1024px;
	margin:0 auto;	
	width:100%;
	
}

#content .breadcrum {
    list-style: none;
    margin-left:255px;
    margin-top: -36px;}

#content .breadcrum1 {
  
    margin-left:275px !important;
} 
    
#content div p {
	font-size: 90%;
}
#content fieldset {
	border:0px;
}
#content fieldset legend {
	margin-left:0px;
}
/** containers **/
div.form, div.index, div.view {
	float:right;
	width:76%;
	/*    border-left:1px solid #666;*/
    padding:10px 2%;
	min-height: 350px;
	height: 100%;
}
div.Galleries {
	float:right;
	width:100%;
	border-left:0px solid #666;
	padding:0;
	min-height: 350px;
	height: 100%;
}
div.Galleries h3 {
	font-family: verdana, Arial, Helvetica, sans-serif;
	font-size:18px;
	color:#333333;
	margin:0 0 10px;
}
div.actions {
	float:left;
	width:16%;
	padding:10px 1.5%;
}
div.actions h3 {
	padding-top:0;
	color:#777;
}
/** Tables **/
table {
	border-right:0;
	clear: both;
	color: #333;
	margin-bottom: 10px;
	width: 100%;
}
th {
	border:0;
	border-bottom:2px solid #BAA991;
	text-align: left;
	padding:4px;
}
th a {
	display: block;
	padding: 2px 4px;
	text-decoration: none;
	color: #9C733B;
	font-size: 90%;
}
th a:hover {
	display: block;
	padding: 2px 4px;
	text-decoration: none;
	color: #613C09;
	text-decoration: none;
}
.actions, .action {
	display: block;
	padding: 6px 0 6px 10px;
	text-decoration: none;
	color: #82571B;
	font-size: 90%;
}
.actions, .action .action1 {
	
        padding-bottom: 12px;
    padding-top: 14px;
	
}
td a {
	color: #333;
	text-decoration: none;
	font-weight:normal;
}
th a.asc:after {
	content: ' ⇣';
}
th a.desc:after {
	content: ' ⇡';
}
table tr td {
    padding: 6px;
    text-align: left;
    vertical-align: top;
/*    border-bottom:1px solid #E6E1BE;*/
    font-size:80%;
}
table tr:nth-child(even) {
    /*background: #F5F4ED; */
    background: #eeeeee;
}
td.actions {
	text-align: left;
	white-space: nowrap;
}
th.action {
	min-height:15px;
}
table td.actions a {
	margin: 0px 6px 0px 0px;
	padding:10px 5px 0px 5px
}
/* SQL log */
.cake-sql-log {
	background: #fff;
}
.cake-sql-log td {
	padding: 4px 8px;
	text-align: left;
	font-family: verdana, Arial, Helvetica, sans-serif;
}
.cake-sql-log caption {
	color:#fff;
}
/** Paging **/
.paging {
	color: #ccc;
	margin-top: 1em;
	clear:both;
}
.paging .current, .paging .disabled, .paging a {
	text-decoration: none;
	padding: 5px 8px;
	display: inline-block
}
.paging > span {
	display: inline-block;
	border: 1px solid #ccc;
	border-left: 0;
	background:#fff;
}
.paging > span:hover {
	background: #efefef;
}
.paging .prev {
	border-left: 1px solid #ccc;
	-moz-border-radius: 4px 0 0 4px;
	-webkit-border-radius: 4px 0 0 4px;
	border-radius: 4px 0 0 4px;
}
.paging .next {
	-moz-border-radius: 0 4px 4px 0;
	-webkit-border-radius: 0 4px 4px 0;
	border-radius: 0 4px 4px 0;
}
.paging .disabled {
	color: #ddd;
}
.paging .disabled:hover {
	background: transparent;
}
.paging .current {
	background: #efefef;
	color: #c73e14;
}
/** Scaffold View **/
dl {
	line-height: 2em;
	margin: 0em 0em;
	width: 100%;
}
dl dd:nth-child(4n+2), dl dt:nth-child(4n+1) {
/*   background: #f4f4f4;*/
}
dt {
	font-weight: bold;
	padding-left: 4px;
	vertical-align: top;
	width: 17em;
}
dd {
	margin-left: 18em;
	margin-top: -2em;
	vertical-align: top;
}
dd a {
	font-weight:normal;
}
/** Forms **/
form {
	clear: both;
	margin-right: 20px;
	padding: 0;
	width: 95%;
}
fieldset {
	border: none;
	margin-bottom: 1em;
	padding: 16px 10px;
}
fieldset div {
	width: 60%;
	float:left;
	padding-left: 1%;
}
fieldset div div {
	width: 100%;
	float:left;
}
fieldset div div label {
	width: 20%;
	float:left;
}
.button-area {
	width:50%;
}
fieldset div label {
	width: 41%;
	float: left;
	margin-right: 5px;
	clear: none;
	font-size: 12px;
	font-weight:bold;
	font-family: verdana, Arial, Helvetica, sans-serif;
	letter-spacing:normal !important;
}
fieldset div input {
	width: 50%;
	float: left;
	clear: none;
	font-size: 90%;
}
fieldset div select {
	font-size: 90%;
	width: 51%!important;
	float: left;
	height: auto;
	padding: 0.3% 0.5%;
	font-size: 100%;
	clear: none;
	border-radius: 0;
	border: 1px solid #cccccc;
}
fieldset div select option {
	width: 98%;
	float: left;
	padding: 0 1%;
	font-size: 100%;
}
fieldset legend {
	width: 100%;
	float: left;
	background-color: #E5E2C9;
	margin-bottom: 20px;
	font-size: 100%;
	color: #333333;
	padding: 5px 0px 5px 10px;
	font-weight: bold;
}
fieldset fieldset {
	margin-top: 0;
	padding: 10px 0 0;
}
fieldset fieldset legend {
	width: 100%;
	float: left;
	background-color: #E5E2C9;
	margin-bottom: 20px;
	font-size: 100%;
	color: #333333;
	padding: 5px 0px 5px 10px;
	font-weight: bold;
}
fieldset fieldset div {
	clear: left;
	margin: 0 20px;
}
form div {
	clear: both;
	margin-bottom: 1em;
	padding: .5em;
	vertical-align: text-top;
}
form .input {
	color: #444;
}
form .required {
	font-weight: bold;
}
form .required label:after {
	clear: none;
	font-size: 90%;
	color: #e32;
	content: '*';
	display:inline;
}
form .required label {
	width:41%;
	clear: none;
	font-size: 90%;
	color: #333;
	content: '*';
	display:inline;
	font-weight:normal;
}
fieldset .select label {
	width:41%;
	clear: none;
	font-size: 90%;
	color: #333;
	display:inline;
	font-weight:normal;
}
form div.submit {
	border: 0;
	clear: both;
	margin-top: 10px;
	float: right;
	margin-right: 14%;
}
form div.submit .student {
	
	margin-right: 24% !important;
}
label {
	display: block;
	font-size: 110%;
	margin-bottom:3px;
	float: left;
	margin-right: 10px;
	margin-top: 4px;
}
input, textarea {
	clear: both;
	font-size: 140%;
	font-family: verdana, Arial, Helvetica, sans-serif;
	padding: 0.8% 0;
	width:50%;
}
input[type='text'], input[type='number'], input[type='email'], input[type='password'] {
	width: 50%;
	float: left;
	padding: 0.8% 0.2%;
	border-radius: 0;
	border: 1px solid #cccccc;
	font-size:100%;
	clear: none;
}
#topbar input.pupillogin {
	padding:3px 10px;
	color:#666666;
	background-color:#F7F7F7;
	border:1px solid #CCCCCC;
	cursor:pointer;
}
select {
	clear: both;
	font-size: 120%;
	vertical-align: text-bottom;
}
select[multiple=multiple] {
	width: 100%;
}
option {
	font-size: 120%;
	padding: 0 3px;
}
input[type=checkbox] {
	clear: left;
	float: left;
	margin: 0px 6px 7px 2px;
	width: auto;
}
div.checkbox label {
	display: inline;
}
input[type=radio] {
	float:left;
	width:auto;
	margin: 6px 0;
	padding: 0;
	line-height: 26px;
}
.radio label {
	margin: 0 0 6px 20px;
	line-height: 26px;
}
input[type=submit] {
	display: inline;
	font-size: 110%;
	width: auto;
}
form .submit input[type=submit] {
	margin:0;
	padding:5px;
	color:#666666;
	background:#F7F7F7;
	border:1px solid #CCCCCC;
	cursor:pointer;
	width:100px;
	text-shadow:none;
	border-radius:0px;
	box-shadow:none;
	font-size:12px;
}
form .submit input[type=submit]:hover {
	background: #F7F7F7;
}

.submit a {
	margin:0px 5px;
	padding:5px;
	color:#666666;
	background:#F7F7F7;
	border:1px solid #CCCCCC;
	cursor:pointer;
	min-width:100px;
	text-shadow:none;
	border-radius:0px;
	box-shadow:none;
	font-size:12px;
	float:left;
}
.submit a:hover {
	background: #F7F7F7;
}

/* Form errors */
form .error {
	width: 60%;
	background: #F0EEE4;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	font-weight: normal;
	border: 1px solid #DEDAB8;
}
form .error-message {
	-moz-border-radius: none;
	-webkit-border-radius: none;
	border-radius: none;
	border: none;
	background: none;
	margin: 0;
	padding-left: 4px;
	padding-right: 0;
	color: #964411;
	font-size: 90%;
}
form .error, form .error-message {
	color: #9C733B;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-ms-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
	text-shadow: none;
}
/** Notices and Errors **/
.message {
	clear: both;
	color: #fff;
	font-size: 140%;
	font-weight: bold;
	margin: 0 0 1em 0;
	padding: 5px;
}
.success, .message, .cake-error, .cake-debug, .notice, p.error, .error-message {
	border: 1px solid rgba(0, 0, 0, 0.2);
	margin-bottom: 18px;
	padding: 10px 14px;
	color: #fff;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
	background-image: linear-gradient(bottom, rgb(158,146,68) 69%, rgb(168,159,92) 86%);
	background-image: -o-linear-gradient(bottom, rgb(158,146,68) 69%, rgb(168,159,92) 86%);
	background-image: -moz-linear-gradient(bottom, rgb(158,146,68) 69%, rgb(168,159,92) 86%);
	background-image: -webkit-linear-gradient(bottom, rgb(158,146,68) 69%, rgb(168,159,92) 86%);
	background-image: -ms-linear-gradient(bottom, rgb(158,146,68) 69%, rgb(168,159,92) 86%);
	background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0.69, rgb(158,146,68)), color-stop(0.86, rgb(168,159,92)) );
	font-size: 100%;
	font-weight: normal;
}
.success, .message, .cake-error, p.error, .error-message {
	clear: both;
	color: #fff;
	background: #c43c35;
	border: 1px solid rgba(0, 0, 0, 0.5);
	background: #cc0000; /* Old browsers */
	background: -moz-linear-gradient(top, #cc0000 0%, #b20000 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #cc0000), color-stop(100%, #b20000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #cc0000 0%, #b20000 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #cc0000 0%, #b20000 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #cc0000 0%, #b20000 100%); /* IE10+ */
	background: linear-gradient(to bottom, #cc0000 0%, #b20000 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc0000', endColorstr='#b20000', GradientType=0 ); /* IE6-9 */
}
.success {
	clear: both;
	color: #fff;
	border: 1px solid rgba(0, 0, 0, 0.5);
	background: #3B8230;
	background: -moz-linear-gradient(top, #cc0000 0%, #b20000 100%); /* FF3.6+ */
	background-repeat: repeat-x;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#76BF6B), to(#3B8230));
	background-image: -webkit-linear-gradient(top, #76BF6B, #3B8230);
	background-image: -moz-linear-gradient(top, #76BF6B, #3B8230);
	background-image: -ms-linear-gradient(top, #76BF6B, #3B8230);
	background-image: -o-linear-gradient(top, #76BF6B, #3B8230);
	background-image: linear-gradient(top, #76BF6B, #3B8230);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}
p.error {
	font-family: verdana, Arial, Helvetica, sans-serif;
	font-size: 120%;
	padding: 0.8em;
	margin: 1em 0;
}
p.error em {
	font-weight: normal;
	line-height: 140%;
}
.notice {
	color: #000;
	display: block;
	font-size: 120%;
	padding: 0.8em;
	margin: 1em 0;
}
.success {
	color: #fff;
}
/**  Actions  **/
.actions ul {
	margin: 0;
	padding: 0;
}
.actions li {
	margin:0 0 0.5em 0;
	list-style-type: none;
	white-space: nowrap;
	padding: 0;
}
.actions ul li a {
	font-weight: normal;
	display: block;
	clear: both;
}
/* Buttons and button links */
input[type=submit], .actions ul li a, .actions a {
	font-weight:normal;
	padding: 4px 8px;
	background: #dcdcdc;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#dcdcdc));
	background-image: -webkit-linear-gradient(top, #fefefe, #dcdcdc);
	background-image: -moz-linear-gradient(top, #fefefe, #dcdcdc);
	background-image: -ms-linear-gradient(top, #fefefe, #dcdcdc);
	background-image: -o-linear-gradient(top, #fefefe, #dcdcdc);
	background-image: linear-gradient(top, #fefefe, #dcdcdc);
	color:#333;
	border:1px solid #bbb;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	text-decoration: none;
	text-shadow: #fff 0px 1px 0px;
	min-width: 0;
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0px 1px 1px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0px 1px 1px rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0px 1px 1px rgba(0, 0, 0, 0.2);
	-webkit-user-select: none;
	user-select: none;
	width: 100%;
}
.actions ul li a:hover, .actions a:hover {
	background: #ededed;
	border-color: #acacac;
	text-decoration: none;
}
input[type=submit]:active, .actions ul li a:active, .actions a:active {
	background: #eee;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#dfdfdf), to(#eee));
	background-image: -webkit-linear-gradient(top, #dfdfdf, #eee);
	background-image: -moz-linear-gradient(top, #dfdfdf, #eee);
	background-image: -ms-linear-gradient(top, #dfdfdf, #eee);
	background-image: -o-linear-gradient(top, #dfdfdf, #eee);
	background-image: linear-gradient(top, #dfdfdf, #eee);
	text-shadow: #eee 0px 1px 0px;
	-moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3);
	box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3);
	border-color: #aaa;
	text-decoration: none;
}
/** Related **/
.related {
	clear: both;
	display: block;
}
/** Debugging **/
pre {
	color: #000;
	background: #f0f0f0;
	padding: 15px;
	-moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}
.cake-debug-output {
	padding: 0;
	position: relative;
}
.cake-debug-output > span {
	position: absolute;
	top: 5px;
	right: 5px;
	background: rgba(255, 255, 255, 0.3);
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	padding: 5px 6px;
	color: #000;
	display: block;
	float: left;
	-moz-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.25), 0 1px 0 rgba(255, 255, 255, 0.5);
	-webkit-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.25), 0 1px 0 rgba(255, 255, 255, 0.5);
	box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.25), 0 1px 0 rgba(255, 255, 255, 0.5);
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.8);
}
.cake-debug, .cake-error {
	font-size: 16px;
	line-height: 20px;
	clear: both;
}
.cake-error > a {
	text-shadow: none;
}
.cake-error {
	white-space: normal;
}
.cake-stack-trace {
	background: rgba(255, 255, 255, 0.7);
	color: #333;
	margin: 10px 0 5px 0;
	padding: 10px 10px 0 10px;
	font-size: 120%;
	line-height: 140%;
	overflow: auto;
	position: relative;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
.cake-stack-trace a {
	text-shadow: none;
	background: rgba(255, 255, 255, 0.7);
	padding: 5px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	margin: 0px 4px 10px 2px;
	font-family: verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 14px;
	display: inline-block;
	text-decoration: none;
	-moz-box-shadow: inset 0px 1px 0 rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: inset 0px 1px 0 rgba(0, 0, 0, 0.3);
	box-shadow: inset 0px 1px 0 rgba(0, 0, 0, 0.3);
}
.cake-code-dump pre {
	position: relative;
	overflow: auto;
}
.cake-context {
	margin-bottom: 10px;
}
.cake-stack-trace pre {
	color: #000;
	background-color: #F0F0F0;
	margin: 0px 0 10px 0;
	padding: 1em;
	overflow: auto;
	text-shadow: none;
}
.cake-stack-trace li {
	padding: 10px 5px 0px;
	margin: 0 0 4px 0;
	font-family: verdana, Arial, Helvetica, sans-serif;
	border: 1px solid #bbb;
	-moz-border-radius: 4px;
	-wekbkit-border-radius: 4px;
	border-radius: 4px;
	background: #dcdcdc;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#dcdcdc));
	background-image: -webkit-linear-gradient(top, #fefefe, #dcdcdc);
	background-image: -moz-linear-gradient(top, #fefefe, #dcdcdc);
	background-image: -ms-linear-gradient(top, #fefefe, #dcdcdc);
	background-image: -o-linear-gradient(top, #fefefe, #dcdcdc);
	background-image: linear-gradient(top, #fefefe, #dcdcdc);
}
/* excerpt */
.cake-code-dump pre, .cake-code-dump pre code {
	clear: both;
	font-size: 12px;
	line-height: 15px;
	margin: 4px 2px;
	padding: 4px;
	overflow: auto;
}
.cake-code-dump .code-highlight {
	display: block;
	background-color: rgba(255, 255, 0, 0.5);
}
.code-coverage-results div.code-line {
	padding-left:5px;
	display:block;
	margin-left:10px;
}
.code-coverage-results div.uncovered span.content {
	background:#ecc;
}
.code-coverage-results div.covered span.content {
	background:#cec;
}
.code-coverage-results div.ignored span.content {
	color:#aaa;
}
.code-coverage-results span.line-num {
	color:#666;
	display:block;
	float:left;
	width:20px;
	text-align:right;
	margin-right:5px;
}
.code-coverage-results span.line-num strong {
	color:#666;
}
.code-coverage-results div.start {
	border:1px solid #aaa;
	border-width:1px 1px 0px 1px;
	margin-top:30px;
	padding-top:5px;
}
.code-coverage-results div.end {
	border:1px solid #aaa;
	border-width:0px 1px 1px 1px;
	margin-bottom:30px;
	padding-bottom:5px;
}
.code-coverage-results div.realstart {
	margin-top:0px;
}
.code-coverage-results p.note {
	color:#bbb;
	padding:5px;
	margin:5px 0 10px;
	font-size:10px;
}
.code-coverage-results span.result-bad {
	color: #a00;
}
.code-coverage-results span.result-ok {
	color: #fa0;
}
.code-coverage-results span.result-good {
	color: #0a0;
}
/** Elements **/
#url-rewriting-warning {
	display:none;
}
.groupSubSubjects .subject-multi, .courses .subject-multi {
	width:100%;
	float:left;
	margin: 0px;
	padding: 0px;
}
.groupSubSubjects .subject-multi div label, .courses .subject-multi div label {
	width:100%;
	float:left;
}
.groupSubSubjects form div select#GroupSubSubjectGroupSubjectId, .groupSubSubjects form div select#GroupSubSubjectSubjectId {
	width:30%!important;
	float:left;
}
.groupSubSubjects .subject-multi div .checkbox, .courses .subject-multi div .checkbox {
	width:28%;
	float:left;
	clear:none;
	padding-left:0px;
}
.groupSubSubjects .subject-multi div .checkbox input, .courses .subject-multi div .checkbox input {
	width:auto;
	float:left;
	margin-left:0px;
}
.groupSubSubjects .subject-multi div .checkbox label, .courses .subject-multi div .checkbox label {
	width:75%;
	float:left;
	text-align:left;
	font-weight:normal;
	margin-top:0px;
}
/** University page designing changed **/

div.form-area {
	width:100%;
	float: left;
}
div.form-area .left-area, div.form-area .right-area {
	width:46%;
	float: left;
	padding: 0;
	margin: 0;
	clear: none;
	padding-left: 1%;
}
div.form-area div div {
	width:100%;
	float: left;
	padding: 0;
}
div.form-area input[type='text'] {
	width: 50%;
	float: left;
	padding: 0.8% 0.2%;
	border-radius: 0;
	border: 1px solid #cccccc;
	font-size: 80%;
	clear: none;
}
div.form-area select {
	width: 51%!important;
	float: left;
	height: auto;
	padding: 0.3% 0.5%;
	font-size: 100%;
	clear: none;
	border-radius: 0;
	border: 1px solid #cccccc;
}
div.form-area select option {
	width: 98%;
	float: left;
	padding: 0 1%;
	font-size: 100%;
}
div.form-area label {
	width: 30%;
	float: left;
	font-size: 90%;
	display:inline;
	font-weight: normal;
	color:#333333;
}
div.form-area legend {
	width: 100%;
	float: left;
	background-color: #E5E2C9;
	margin-bottom: 20px;
	font-size: 100%;
	color: #333333;
	padding: 5px 0px 5px 10px;
}
/*---------------------------------------------------------------------------------------------------------------------*/

#totalpercentage input {
	width:24%;
	float:left;
	height:9px;
	padding:0.6% 0.2%
}
#totalpercentage label {
	width:18.6%;
	float:left;
}
.studentRegistrations fieldset div.heading {
	width:100%;
	background:none;
	font-family: verdana, Arial, Helvetica, sans-serif;
	font-size:23px;
	line-height:25px;
	font-weight:bold;
	text-align:center;
}
.studentRegistrations fieldset div.heading span {
	color:#CC5446;
}
.studentRegistrations .left-side {
	width: 45%;
	margin-right: 5%;
	float: left;
}
.studentRegistrations .right-side {
	width: 45%;
	margin-left: 5%;
	float: left;
}
.colleges .left-side {
	width: 45%;
	margin-right: 5%;
	float: left;
}
.colleges .right-side {
	width: 45%;
	margin-left: 5%;
	float: left;
}
.universities .left-side {
	width: 45%;
	margin-right: 5%;
	float: left;
}
.universities .right-side {
	width: 45%;
	margin-left: 5%;
	float: left;
}
div.form-area2 {
	width:100%;
	float: left;
	margin-bottom:0px;
	padding-bottom:0px;
}
div.form-area2 .left-area, div.form-area2 .right-area {
	width:48%;
	float: left;
	padding: 0;
	margin: 0;
	clear: none;
	padding-left: 1%;
}
div.form-area2 div div {
	width:100%;
	float: left;
	padding: 0;
}
div.form-area2 input[type='text'] {
	width: 50%;
	float: left;
	padding: 0.8% 0.2%;
	border-radius: 0;
	border: 1px solid #cccccc;
	font-size:100%;
	clear: none;
}
div.form-area2 select {
	width: 51%!important;
	float: left;
	height: auto;
	padding: 0.3% 0.5%;
	font-size: 100%;
	clear: none;
	border-radius: 0;
	border: 1px solid #cccccc;
}
div.form-area2 select option {
	width: 98%;
	float: left;
	padding: 0 1%;
	font-size: 100%;
}
div.form-area2 label {
	width: 38%;
	float: left;
	font-size: 90%;
	display:inline;
	color:#666666;
	font-weight:bold!important;
}
div.form-area2 fieldset {
	border:0px;
}
div.form-area2 legend {
	width: 38%;
	float: left;
	font-size: 90%;
	display:inline;
	color:#666666;
	font-weight:bold!important;
	background:none;
	padding:0px;
	margin:0px;
}
div.form-area2 fieldset label {
	width: 20%;
	float: left;
	font-size: 90%;
	display:inline;
	color:#666666;
	font-weight:bold!important;
}
div.form-area2 #subject {
	width:100%;
	min-width:800px;
	float:left;
	background:#eeedcf;
	padding:0px;
	margin:10px 0px 5px 0px;
}
div.form-area2 #subject .student-registration {
	width:150%;
	float:left;
	position: relative;
	z-index: 10;
}


  .student-registration-radio-button{margin: 0px; padding:0px; width:485px;}

div.form-area2 #college
{

	width:97.7%;
	min-width:780px;
	float:left;
	background:#eeedcf;
	padding:10px;
	margin:10px 0px 5px 0px;
}
div.form-area2 #subject .diplomacourse {
	width:50%;
	float:left;
}
div.form-area2 #collegelist, div.form-area2 #distancecourse, div.form-area2 #maturestudent {
	width:100%;
	min-width:850px;
	float:left;
	background:#eeedcf;
	padding:0px 0px;
	margin:10px 0px 5px 0px;
}
div.form-area2 #collegelist div.first-block {
	width: 90%;
	float: left;
	background-color:#ffffff;
	margin:10px 10px;
	padding:10px;
	min-height:100px;
	clear:none;
}
div.form-area2 #collegelist div.mid-block {
	width: 100%;
	float: left;
	margin:25px 10px;
	padding:10px;
	min-height:100px;
	clear:none;
	margin:0% 1%;
	background-color:none;
}
div.form-area2 #collegelist div.first-block select, div.form-area2 #collegelist div.last-block select {
	width: 100%!important;
}
div.form-area2 #collegelist select {
	width: 91%!important;
	float: left;
	height: auto;
	padding: 0.3% 0.5%;
	font-size: 100%;
	clear: none;
	border-radius: 0;
	border: 1px solid #cccccc;
}
div.form-area2 #collegelist select option {
	width: 98%;
	float: left;
	padding: 0 1%;
	font-size: 100%;
}
div.form-area2 #collegelist .mid-block a {
	background:none;
}
div.form-area2 #collegelist div.mid-block .swap-left {
	width:95px;
	height:54px;
	float:right;
	background:url(../img/swap-right.png) no-repeat 50% 0%;
	background-color:none;
}
div.form-area2 #collegelist div.mid-block .swap-right {
	width:95px;
	height:54px;
	float:left;
	margin-top:-15px;
	background:url(../img/swap-left.png) no-repeat 50% 100%;
	background-color:none;
	margin-left:10px;
}
div.form-area2 #collegelist div.last-block {
	width:100%;
	float: right;
	background-color:#ffffff;
	margin:10px 10px;
	padding:10px;
	min-height:100px;
	clear:none;
}
div.form-area2 #collegelist div .first {
	width: 40%;
	float: left;
	padding:0px;
	margin:0px;
	clear:none;
}
div.form-area2 #collegelist div .last {
	width: 20%;
	float: right;
	padding:0px;
	margin:0px;
	clear:none;
}
div.form-area2 #collegelist div .first label, div.form-area2 #collegelist div .last label {
	width:100%;
	color:#cc5446;
}
div.form-area2 #subject div {
	width:47%;
	float:left;
	clear:none;
	margin:12px;
}
div.form-area2 #subject div.a {
	margin-top:55px;
}
div.form-area2 #subject div strong {
	float:left;
	margin:10px 0px 10px;
}
div.form-area2 #subject div span, div.form-area2 #subject div span label, div.form-area2 #subject .diplomacourse span {
	width:100%;
	float:left;
	margin:4px 0px;
}
div.form-area2 #subject .diplomacourse span label {
	width:35%;
	float:left;
	margin-right:2px;
}
div.form-area2 #subject .diplomacourse span select {
	width:45%!important;
	float:left;
	margin-right:2px;
}
div.form-area2 #subject .diplomacourse span input {
	width:49%;
	float:left;
}
div.form-area2 #subject div span label span {
	width:45%;
	float:left;
	margin:0px;
}
div.form-area2 #subject div select {
	width:34%;
	float:left;
	margin:0px!important;
}
div.form-area2 #subject div input {
	width:40%;
	float:right;
}
div.form-area2 #subject div span label input {
	width:50%;
	float:left;
}
div.form-area2 #maturestudent h3, div.form-area2 #distancecourse h3 {
	font-size:10px;
	color:#CC5446;
	font-weight:bold;
	margin-bottom:10px;
}
div.form-area2 #maturestudent div, div.form-area2 #distancecourse div {
	width:98%;
	float:left;
	clear:none;
	margin:15px 10px;
}
div.form-area2 #distancecourse div div.first-block {
	width:55%;
	float:left;
	clear:none;
	margin:0px;
}
div.form-area2 #distancecourse div div.second-block {
	width:39%;
	float:right;
	clear:none;
	margin:0px;
}
div.form-area2 #distancecourse div div.second-block label, div.form-area2 #distancecourse div div.second-block input {
	width:45%;
}
div.form-area2 #maturestudent div div {
	width:45%;
	float:left;
	clear:none;
	margin:0px 0px 15px 0px;
}
div.form-area2 #maturestudent div div.second-block {
	width:55%;
	float:right;
	clear:none;
}
div.form-area2 #maturestudent div div label {
	width:49%;
}
div.form-area2 #distancecourse div div label {
	width:65%;
}
div.form-area2 #distancecourse div div input[type="text"], div.form-area2 #distancecourse div div textarea {
	width:30%;
}
div.form-area2 #maturestudent div div input[type="text"] {
	width:40%;
}
div.form-area2 #maturestudent div div.second-block input[type="text"], div.form-area2 #maturestudent div div.second-block textarea {
	width:45%;
}
div.form-area2 #maturestudent div div.second-block textarea {
	height:80px;
}
div.form-area2 #maturestudent label:after, div.form-area2 #distancecourse label:after {
	clear: none;
	font-size: 90%;
	color: #e32;
	content: '*';
	display:inline;
}

.non-star label:after {
	clear: none;
	font-size: 90%;
	display:inline;
	color:none;
	content: none!important;
}

#UserLoginForm, .loginPages {
	width:40%;
	margin:0px auto;
	/*	background:#591434;*/
	color:#ffffff;
}
#UserLoginForm fieldset legend {
	width: 97%;
	float: left;
	/*   background-color:#E5E2C9;*/
    margin-bottom: 20px;
	font-size: 100%;
	color: #333333;
	padding: 5px 0px 5px 10px;
	font-weight: bold;
}
#UserLoginForm div {
	width:100%;
	margin:0px auto;
	float:none;
}
#UserLoginForm div.submit {
	text-align:left;
	padding-right:150px;
}
#UserLoginForm input[type='text'], #UserLoginForm input[type='password'] {
	width: 60%;
	float: left;
	padding: 0.8% 0.2%;
	border-radius: 0;
	border: 1px solid #cccccc;
	font-size: 80%;
	clear: none;
}
#UserLoginForm div label {
	color:#ffffff;
}
.SliderBg {
	width:933px;
	height:312px;
	overflow:hidden;
	padding:39px 144px 59px;
	position:relative;
	top:0px;
	left:50%;
	margin-left:-620px;
	background:url(../img/slider_bg.png) 0 0 no-repeat;
}
/* ----------------------------------------------Header-------------------------------------*/

#header .col1 #logo {
	display:block;
	float:left;
	width:108px;
	overflow:hidden;
}
#header .col1 #logo1 {
	display:block;
	float:left;
	width:489px;
	margin-top: 31px;
	overflow:hidden;
}
.icon {
	width:327px;
	height:40px;
	text-align:left
}
.icon img {
	float:right;
	margin-left:5px;
}
#header .col1 #logo h1, #header .col1 p, #header .col1 ul {
	margin:0;
	padding:0;
	list-style:none;
	line-height:normal;
}
#header .col1 #logo h1 {
	font-size:36px;
}
#header .col1 h1 a {
	color:#333333;
	background-color:#F8F7DF;
}
#header .col1 .fl_right {
	display:block;
	float:right;
	width:330px;
	margin:17px 0 0 0;
	padding:0;
	text-align:right;
}
#header .col1 .fl_right ul {
	margin-bottom:10px;
}
#header .col1 li {
	display:inline;
	margin:0 0 0 8px;
	padding:0 0 0 10px;
	border-left:1px solid #8B785F;
}
#header .col1 li.last {
	margin-right:0;
	padding-right:0;
	border:none;
}
/* ----------------------------------------------Homepage Services-------------------------------------*/

#container-wrapper {
	position:relative;
	margin:0 auto 0;
	display:block;
	width:960px;
}
#container-wrapper2 {
	position:relative;
	float:left;
	display:block;
	width:100%;
}
#hpage {
	display:block;
	width:100%;
	margin:15px 0 10px;
	float:left;
}
#hpage ul {
	margin:0;
	padding:0;
	border:none;
	list-style:none;
	line-height:normal;
}
#hpage li {
	display:block;
	float:left;
	width:210px;
	margin:0 40px 0 0;
	padding:0;
}
#hpage li.last {
	margin-right:0;
}
#hpage li div.imgholder {
	display:block;
	margin:0 0 10px 0;
	padding:4px 4px 1px;
	color:#666666;
	background-color:#EDECE4;
	border:1px solid #BEBB9E;
}
#hpage p {
	margin:0 0 10px 0;
	padding:0;
	line-height:1.8em;
}
#hpage p.readmore {
	display:block;
	margin:0;
	line-height:normal;
	font-weight:bold;
}
#hpage h2 {
	font-size:18px;
	margin:0 0 5px 0;
	color:#333333;
	background:#F8F7DF;
	font-family: verdana, Arial, Helvetica, sans-serif;
	font-size:18px;
	padding: 5px 0 5px 0px;
	font-weight:normal;
}
#hpage a {
	color:#746550;
	text-decoration:none;
}
/* ----------------------------------------------Wrapper-------------------------------------*/

.col0 {
	color:#313131;
	background-color:#F8F7DF;
	border-top:5px solid #313131;
}
.col1, .col1 a {
	color:#8B785F;
	background-color:#F8F7DF;
	font-size:12px;
}
.col2 {
	color:#333333;
	background:#E5E2C9;
	height:35px;
}
.col3 {
	color:#313131;
	background-color:#F8F7DF;
}pass
.col4 {
	color:#666666;
	background-color:#F8F7DF;
	line-height:20px;
}
.col4 fieldset {
	border:0px;
}
.col4 a {
	color:#746550;
	background-color:#F8F7DF;
}
.col5 {
	color:#CCCCCC;
	background-color:#48282F;
}
.col5 a {
	color:#E5E2C9;
	background-color:#48282F;
}
.col6, .col6 a {
	color:#767772;
	background-color:#F8F7DF;
}
/* ----------------------------------------------Footer-------------------------------------*/

#footer {
	width:100%;
	float:left;
	color:#333;
	clear: both;
	padding:0px 0;
	text-align: left;
}
#footer-bg {
	width:100%;
	float:left;
	background-color:#48282F;
	color:#ffffff;
	clear: both;
	padding:20px 0;
	text-align: left;
}
#footer h2 {
	background:none;
	margin:0px 0px 15px 0px;
	padding:0px 0px 8px 0px;
	border-bottom:1px dotted #999999;
	font-size:20px;
	font-weight:normal;
	line-height:normal;
	font-family:Georgia, "Times New Roman", Times, serif;
	color:#CCCCCC;
}
#footer p, #footer ul, #footer a {
	margin:0;
	padding:0;
	font-weight:normal;
	list-style:none;
	line-height:normal;
	text-align:left;
}
#footer .footbox {
	display:block;
	float:right;
	width:190px;
	margin:0 0 0 30px;
	padding:0;
}
#footer li {
	margin-bottom:3px;
	margin-left: -1px;
}
#footer .last {
	margin:0;
}
#newsletter {
	display:block;
	float:left;
	width:300px;
}
/* ----------------------------------------------Copyright-------------------------------------*/

#copyright-bg {
	width:100%;
	float:left;
	color:#ffffff;
	clear: both;
	padding:0 0;
	text-align: left;
}
#copyright {
	position:relative;
	margin:0 auto 0;
	display:block;
	width:960px;
	padding:5px 0;
}
#copyright p {
	margin:0;
	padding:0;
}
#leftbody {
	width:230px;
	float:left;
        margin-top:20px;
         margin-left: 138px;
}
#rightbody {
	width:685px;
	float:left;
        margin-top:20px; 
}

.headingform {
	font-family: verdana, Arial, Helvetica, sans-serif;
	font-size:23px;
	line-height:25px;
	font-weight:bold;
	text-align:center;
}
.photo div {
	width:50%;
	float:left;
}
.photo div.file {
	padding-left:0px;
}
.photo .photo-area {
	border:#CCC solid 2px;
	background:#FFF;
	width:120px;
	height:130px;
	color:#ffffff;
	font-size:0px;
}
.photo div input {
	width:100%;
	float:left;
}

/*college groupsubject grid 29-08-2013*/
 .testdiv1 {
	width: 46%;
	float: left;
}
.testdiv2 {
	width: 46%;
	float: right;
	margin-top: -44px;
}
.testdiv1 label {
	width:45%;
	font-weight:normal;
	margin-top:0px;
}
.testdiv2 label {
	width:45%;
	font-weight:normal;
	margin-top:0px;
}
.testdiv1 input[type='text'] {
	width:42%;
	font-weight:normal;
	margin-left:2%;
}
.testdiv2 input[type='text'] {
	width:42%;
	font-weight:normal;
	margin-left:2%;
}
.adminPreferences fieldset div label, .adminPreferences fieldset .required label {
	width:40%;
	font-weight:normal;
}
#UserPassForm label {
	width:40%;
	font-weight:normal;
}
.groupSubjects .subject-multi, .courses .subject-multi {
	width:100%;
	float:left;
	margin: 0px;
	padding: 0px;
}
.groupSubjects .subject-multi div label, .courses .subject-multi div label {
	width:100%;
	float:left;
}
.groupSubjects form div select#GroupSubSubjectGroupSubjectId, .groupSubSubjects form div select#GroupSubSubjectSubjectId {
	width:30%!important;
	float:left;
}
.groupSubjects .subject-multi div .checkbox, .courses .subject-multi div .checkbox {
	width:31%;
	float:left;
	clear:none;
	padding-left:0px;
}
.groupSubjects .subject-multi div .checkbox input, .courses .subject-multi div .checkbox input {
	width:auto;
	float:left;
	margin-left:0px;
}
.groupSubjects .subject-multi div .checkbox label, .courses .subject-multi div .checkbox label {
	width:75%;
	float:left;
	text-align:left;
	font-weight:normal;
	margin-top:0px;
}
#forgot-password form label {
	width:12%;
}
#forgot-password form input[type='text'] {
	width:40%;
}

#forgot-password form div.submit {
	margin-right:64%;
}

/*class for exception report on student allocation*/
.exception {
 color:#D00000;
 font-weight:bold;
}

.change-pass {
	width:907px;
	margin:0px auto;
	background-color:#ffffff;
	border:1px solid #CDCAB0;
	color:#333333;
	padding:10px 10px 25px;
	min-height:250px;
}
.change-pass form {
	width:100%;
}
.change-pass form div {
	margin-bottom:0px;
}
.change-pass #UserPassForm label {
	width:30%;
	font-weight:bold;
	font-size:11px;
}
.change-pass #form-button {
	width:51%;
	float:right;
}


.receipt{font-size: 14px !important;}

.calendar{ width:100%; float:left;}
.calendar label{ width:30%; float:left;}
.calendar input[type="text"]{ width:40%!important;  float:left;}

.sitemap
{
width:100%;
float:left!important;
}

.sitemap h1
{
background-color:#E5E2C9;
font-size:100%;
color:#333333;
font-weight:bold;
padding:5px 0 5px 10px;
}
.sitemap ul a
{
background:none;
font-size:100%;
color:#333333;
font-weight:normal;
}

.sitemap ul div
{
padding-left:50px;
}

.td-txt
{
line-height:20px;
font-size:13px;
width:40%;
}
/* ----------------------------------------------BreadCrumb-------------------------------------*/

#breadcrum{

    padding: 20px 0;
    margin-left: 138px;
}
	}	
	#breadcrumb1{
width:auto; float:left;
	padding:0px 0px;
	border-bottom:1px dotted #CCCCCC;
	}

#breadcrumb1 a{
	color:#746550;
	background-color:#F8F7DF;
	}

#breadcrumb1 ul{
	margin:0;
	padding:0;
	list-style:none;
	}

#breadcrumb1 ul li{display:inline;float:left;margin: 0; list-style:none;}
#breadcrumb1 ul li.current a{text-decoration:underline;}


.college-of-medecine {
    width:950px; margin:0 auto;
}

.college-of-medecine1 {
    margin-right: 20%;
    width: 80% !important;
}
.disableinput{
background-color:#CCCCCC; color:black;
}
.successmessage{
background:green;
clear: both;
	color: #fff;
	border: 1px solid rgba(0, 0, 0, 0.5);
	background: #3B8230;
	background: -moz-linear-gradient(top, #cc0000 0%, #b20000 100%); /* FF3.6+ */
	background-repeat: repeat-x;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#76BF6B), to(#3B8230));
	background-image: -webkit-linear-gradient(top, #76BF6B, #3B8230);
	background-image: -moz-linear-gradient(top, #76BF6B, #3B8230);
	background-image: -ms-linear-gradient(top, #76BF6B, #3B8230);
	background-image: -o-linear-gradient(top, #76BF6B, #3B8230);
	background-image: linear-gradient(top, #76BF6B, #3B8230);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
	min-height:20px;
	padding:7px 0px 5px 5px;
}
.loginpagerror{
/*    background-color: yellow;*/
    color: red;
    margin-left: 16px;
    width: 148%;
    padding:5px 5px 5px 5px;
    padding-left:6px !important;
}
