<?php //pr($allotedcollege);?>
<table>
<tr>
	<th><?php echo "University"; ?></th>
	<th><?php echo "College"; ?></th>
	<th><?php echo "Course"; ?></th>
	<th><?php echo "Preference No"; ?></th>
	<th><?php echo "% of last student"; ?></th>
                
</tr> 
<?php if(!empty($studentallocation)){
 $i=0; foreach($studentallocation as $college)
	{ 
		if($allotedcollege['College']['id']==$college['CollegeGroupSubject']['College']['id']){
		$universityname = $college['CollegeGroupSubject']['College']['University']['name'];
		}
	?>
<tr>   <?php //pr($college); die; ?>
	<td><?php echo $college['CollegeGroupSubject']['College']['University']['name']; ?></td>
	<td><?php echo $college['CollegeGroupSubject']['College']['name']; ?></td>
        <td><?php if(!empty($totalpercentage['Course']['name'])) { echo $totalpercentage['Course']['name']; } ?></td>
        <td><?php if(!empty($preferences[$college['CollegeGroupSubject']['id']])){ echo $preferences[$college['CollegeGroupSubject']['id']]; } ?></td>
	<td><?php echo $college['0']['total_percentage']; ?></td>
                
</tr>
<?php $i++; } ?>

<tr>
	
	<td colspan="4" align="left"><strong>Percentage/Grade achieved by student based on available plans</strong></td>
	<td><?php echo $totalpercentage['StudentRegistration']['total_percentage'];?></td>
                
</tr>
<?php if(!empty($grade) && $grade['StudentAlotment']['isCancelled']=='N') { ?>
<tr>
	
	<td colspan="1" align="left"><strong>Alloted College</strong></td>
	<td colspan="3" align="left"><strong>
	<?php echo $allotedcollege['College']['name'] ?></strong></td>
	<td><?php if(!empty($universityname)){ echo $universityname; } ?></td>
	       
</tr>

<tr>
<td><strong>Rank:</strong></td>
<td colspan="4" align="left"><strong>
	<?php if(!empty($grade)){echo $grade['StudentAlotment']['grade']; }?></strong></td>


	<?php  }else{?>
	<td colspan="5" align="left" style="color:red"><strong>Admission cancelled</strong></td>
	</tr>
<?php	} ?>

<?php }else{ ?>



<tr>
	<td colspan="5">No Record Found!</td>
	
			
</tr>

<?php } ?>
</table>

