<?php ?>
<ul class="breadcrum"><li><?php echo $this->Html->addCrumb('Colleges','#'); ?>      
		</li></ul>
		&nbsp;
    <div id="container" style="width:950px; margin:0 auto;">
      <div id="" class = "form-area2">
                      
            <?php $i=0; $class = 'left-area'; foreach ($colleges as $college) {  ?>
             
             <div class="<?php echo $class; ?>">
                    
                    <div>
                        <table class="width:100%!important;">
                            <tr>
                               <td width="100%" valign="top" align="left" colspan="5"><strong><?php echo $college['College']['name']; ?></strong></td>
                                
                                
                            </tr>
                            <tr>
                                
                                <td width="20%" valign="top" align="left" class="td-txt">
                                    <strong>University:</strong><br>
                                    <strong>City :</strong><br>
                                    <strong>State :</strong><br>
                                    <strong>Contact Person: </strong><br>
                                    <strong>Contact No:</strong><br>
                                   <strong> Email: </strong><br>
                                    <strong>Web site:</strong><br>
                                    

                                </td>
                                <td width="70%" valign="top" align="left" colspan="5" class="td-txt" nowrap="nowrap">
                                    <?php echo $college['University']['name']; ?><br>
                                    <?php echo $college['City']['name']; ?><br>
                                    <?php echo $college['State']['name']; ?><br>
                                    <?php echo $college['College']['contact_person']; ?> <br>
                                    <?php echo $college['College']['phone_no']; ?><br>
                                    <?php echo strtolower($college['College']['email']); ?><br>
                                    <?php echo $college['College']['website']; ?><br>
                                    <?php echo $this->html->link('Courses', array('action'=>'course',$college['College']['id']));?>
                                </td>
                               
                               
                            <tr>
                                <td valign="top" align="left" colspan="5">&nbsp;</td>
                            </tr>
                            </tr>
                        </table>
                    </div>
                </div>
            <?php   $i++; 
            	
		        if($i==10){
		        $i=0;
		        $class = 'right-area'; ?> <div style="clear:both"></div>
		       <?php }
            } ?>
       
       <div>
	<?php
	echo $this->Paginator->counter(array(
	'format' => __('Page {:page} of {:pages}, showing {:current} records out of {:count} total, starting on record {:start}, ending on {:end}')
	));
	?>	</div>
	<div class="paging">
	<?php
		echo $this->Paginator->prev('< ' . __('previous'), array(), null, array('class' => 'prev disabled'));
		echo $this->Paginator->numbers(array('separator' => ''));
		echo $this->Paginator->next(__('next') . ' >', array(), null, array('class' => 'next disabled'));
	?>
    </div>
    <div>&nbsp;</div>
</div>
</div>



